@import url("menu.css");
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  font-family:'Ubuntu', "Lato", sans-serif;
  margin:auto;
  background-color: #eeeeee;
}
/** mise en page bloc de connexion **/
#login{
  display: block;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-size:  100% auto;
  background-image: url("https://i.pinimg.com/originals/5a/97/ce/5a97ce137ad193440b643c9d3e805e6c.gif");  
  border-color: gray;
}
legend{
  line-height:2px;
  margin-top:2px;
  font-weight: bold;
  opacity:0.85;
  color:white;
}

input{
	border: none;
	background-color:#eeeeee;
	height:40px;
	width:250px;
	border-radius:15px;
}
.wrap{
	border-radius:15px;
	border-style: solid;
	border-width:0px;
	width:350px;
	height:350px;
	background-color: #dbf6e970;
	
}
button{
	width:250px;
	height:40px;
	border-radius:15px;
	border-width:0px;
	color:white;
	font-size:20px;
	background-color:#464f41;
}
/** **/
.sidenav 
{
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #B1CFA5;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}


.sidenav h2
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a 
{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
/**  columns cv **/
.grid-container {
  
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}
.grid-item{
	
	margin: 30px 0px 0px 10px;
}
/** **/
.sidenav a:hover 
{
  color: #f1f1f1;
}

.sidenav .closebtn 
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.map 
{
  height: 100%;
  width: 100%;
  position: fixed;
}
/** Responsive design **/
@media screen and (max-height: 450px){
  .sidenav {padding-top: 15px; width:150px;}
  .sidenav a {font-size: 18px;}
  #login{font-size: 18px;	margin-left:100px;}
  .wrap{width:250px; height:250px;}
  input{width:200px;height:30px;}
  button{width:200px; margin-top:5px;}
  legend{opacity:1; margin-bottom:20px;}
  footer p{width:100%;text-align:center;}
}

@media screen and (max-width: 800px){
  .sidenav {padding-top: 15px;width:150px;}
  .sidenav a {font-size: 18px;}
  #login{font-size: 18px;	margin-left:100px;}
  .wrap{width:250px; height:350px;}
  input{width:200px;height:30px;}
  button{width:200px; margin-top:70px;}
  legend{opacity:1; margin-bottom:40px;}
  footer p{width:100%;text-align:center;}
}
footer{
	
	position: absolute; bottom: 1px; left: 0; right: 0;
	z-index: 8;
	width:100%;
	height:30px;
	background-color:#393e4640;
	align-items: center;
}
footer span{
	padding:0;
	margin:0;
	font-size:14px;
}
footer p{
	padding-left:2%;
	text-align:justify;
	width:70%;
	padding-top:0px;;
	margin-top:0px;
	height:0px;
	font-size:0px;
}
footer:hover p{
	
	font-size:16px;
}
footer:hover{
	color: #eeeeee;
	height:100px;
	background-color:#393e46;
}

/** **/